/* NOTE: Style Home */

body {
  padding: 0;
  margin: 0;
  font-family: 'Muli', sans-serif;
  background-color:#1b262c;
}

header {
  background-color: #212121;
}

header nav #navbarSupportedContent .navbar-toggler-icon{
  color:white;
}

header nav #navbarSupportedContent ul li a {
  color:white;
  border-color: black;
}

header .logo {
  width: 230px;
}

header a {
  font-weight: bolder;
}

#breadcrumb {
  background-color: #1b262c;
}

#breadcrumb ol {
  background-color: #1b262c;
}

#breadcrumb ol li a{
color: lightgrey;
}

.jumbotron {
 background-color: #84142d;
 color: white;
}

.jumbotron h1{
 font-weight: 800;
}

#footer {
background-color: #212121;
}

#footer h5 {
  color: white;
  font-weight: 700;
}

#footer div.row {
  color: black;
  font-weight: 700;
}

#footer, #footer .container div li a {
  color: white;
  font-weight: bold;
}

#firma div p {
  color: #d4d7dd;
}

#firma div p a{
  color: #d4d7dd;
}

/* NOTE: Formulario modal de CONSULT */
#footer #formularioModal {
  color: black;
}

#contactUs a.nav-link.active {
  padding: 0;
}

#contactUs ul li a{
  padding: 0;
}

.container {
  width: 100%;
  margin: 0 auto;
}

/* NOTE: style Catalog */
h2{
  color: black;
  font-size: 45px;
  font-weight: bold;
}

#deck-contenedor{
  text-align: center;
}

/* NOTE: style Registration */
.form-header h1 {
  color: black;
  font-weight: 800;
}

.container {
  margin-bottom: 100px;
}

#error{
  color: white;
}
 /* NOTE: style Faq */
 div.container {
   color: white;
 }

 div.container h1{
   font-weight: 800;
 }

 div.container .respuestas h3{
   font-weight: 700;
 }

 div.container .respuestas p{
   font-weight: 400;
 }

 /* NOTE: style productForm */
form h2{
  font-weight: bold;
  font-size: 30px;
}

 .show_trademarks{
   color: black;
 }

 .create_trademark{
   color:black;
 }

 .update_trademark{
   color:black;
 }

 .delete_trademark{
   color:black;
 }

 .show_categories{
   color: black;
 }

 .create_category{
   color: black;
 }

 .delete_category{
   color:black;
 }

 .show_categories_trademarks{
   color: black;
 }

 .delete_related_trademark_category{
   color: black;
 }

 /* NOTE: crud Products */
 #container_crud_products{
   width: 85%;
 }

 .update_product{
   color: black;
 }

 .register_product{
   color: black;
 }

 .delete_product{
   color: black;
 }

 /* NOTE: userProfile */
 .jumbotron{
  overflow: hidden;
  margin-top: 50px;
 }

 .profile_user .title-info{
  color: white;
  vertical-align: middle;
 }

 .profile_user .form-header h1, h2{
   color: white;
 }

 .profile_user .form-header .image-Profile img{

 }

 /* NOTE: style loadedProductPreview */
 #loaded_product_preview{
   color: black;
 }

 /* NOTE: style Login */
#containerMod {
  color: black;
}
