/* NOTE: Style Home */

body {
  padding: 0;
  margin: 0;
  font-family: 'Muli', sans-serif;
  background-color:#1b262c;
}

header {
  background-color: white;
}

header nav #navbarSupportedContent ul li a {
  color:black;
  border-color: black;
}

.navbar-toggler-icon, .navbar-toggler{
  color:black;
}

header .logo {
  width: 230px;

}

header a {
  font-weight: bolder;
}

.jumbotron {
 background-color: #84142d;
 color: white;
}

.jumbotron h1{
 font-weight: 800;
}

#footer h5 {
  color: black;
  font-weight: 700;
}

#footer div.row {
  color: black;
  font-weight: 700;
}

#footer, #footer .container div li a {
  color: black;
  background-color: white;
  font-weight: bold;
}

/* NOTE: Formulario modal de CONSULT */
#footer #formularioModal {
  color: black;
}

#contactUs a.nav-link.active {
  padding: 0;
}

#contactUs ul li a{
  padding: 0;
}

.container {
  width: 100%;
  margin: 0 auto;
}

/* NOTE: style Catalog */

h2{
  color: black;
  font-size: 45px;
  font-weight: bold;
}

#deck-contenedor{
  text-align: center;
}

/* NOTE: style Registration */

.form-header h1 {
  color: black;
  font-weight: 800;
}

.container {
  margin-bottom: 100px;
}

#error{
  color: white;
}
 /* NOTE: style Faq */
 div.container {
   color: white;
 }

 div.container h1{
   font-weight: 800;
 }

 div.container .respuestas h3{
   font-weight: 700;
 }

 div.container .respuestas p{
   font-weight: 400;
 }

 /* NOTE: style productForm */
form h2{
  font-weight: bold;
  font-size: 30px;
}

 .show_trademarks{
   color: black;
 }

 .register_trademark{
   color:black;
 }

 .delete_trademark{
   color:black;
 }

 .show_categories{
   color: black;
 }

 .register_category{
   color: black;
 }

 .delete_category{
   color:black;
 }

 .show_categories_trademarks{
   color: black;
 }

 .delete_related_trademark_category{
   color: black;
 }

 .register_product{
   color: black;
 }

 .delete_product{
   color: black;
 }

 /* NOTE: style loadedProductPreview */
 #loaded_product_preview{
   color: black;
 }
