/* NOTE: style Home */
.jumbotron {
  background-color: #84142d;
  color: white;
}
.jumbotron:hover {
  color: #e5dfdf;
  box-shadow: 0 0 2px #e5dfdf;
}

.jumbotron h1{
  font-weight: 800;
}
#footer {
  background-color: #212121;
}
#footer li a {
  color: white;
}
.card:hover {
  box-shadow: 0 0 4px #e5dfdf;
}
/* NOTE: linkMenuPpal */
#menu-principal ul li a:hover {
  font-weight: bold;
  font-size: 1.02em;
}
#menu-principal ul li a:active {
  border: none;
  background-color: #212121;
  color: white;
}
#menu-principal ul li #linkMyPurchase:hover {
  font-weight: bold;
  font-size: 1.1em;
}
.dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #1c2938;
}
/* NOTE: linkSubMenu */
#linkSubMenu:hover,#linksUser:hover{
  font-weight: bold;
}
#subMenuHassen .dropdown-item:hover{
  font-weight: bold;
}
/* NOTE: style Register */
small {
  font-size: 0.9em;
}
#btnRegisterUser{
  background-color: #30475e;
  border: 1px solid #30475e;
}
#btnRegisterUser:hover{
  font-size: 1.2em;
  background-color: #1c2938;
}
/* NOTE: style Login */
#btnLogin, #sendPassResetLink, #resetPass{
  background-color: #30475e;
  border: 1px solid #30475e;
}
#btnLogin:hover, #sendPassResetLink:hover, #resetPass:hover{
  font-size: 1.1em;
  background-color: #1c2938;
}
/* NOTE: style contactUs */
#bntConctactUs{
  font-size: 1.1em;
  background-color:#588da8;
  border-color: white;
}
#bntConctactUs:hover{
  font-size: 1.3em;
  background-color: #1c2938;
  color: white;
}
/* NOTE: style Faq */
div.container h1{
  font-weight: 800;
}
div.container .respuestas h3{
  font-weight: 700;
}
div.container .respuestas p{
  font-weight: 400;
}
.container div #preguntas #listPreguntas li{
  list-style: none;
}
.container div #preguntas #listPreguntas li i{
  color: #fbf4f9;
}
.container div #preguntas #listPreguntas li a{
  font-size: 1.5em;
  color: #ffbaba;
}
/* NOTE: buttons crud Forms */
#btnTrademark,#btnCategory,#btnCatTrad,#btnCreateProduct,#btnUpdateUser,
#btnUpdateUser,#editProfile,#btnUpdateProd,#btnUpdateCategory,
#btnUpdateTrad{
  background-color: #d63447;
  border: 1px solid #d63447;
}
#btnTrademark:hover,#btnUpdateTrad:hover,#btnCategory:hover,#btnUpdateCategory:hover,
#btnCatTrad:hover,#btnCreateProduct:hover{
  font-size: 1.1em;
  border: 1px solid #1c2938;
  background-color: #1c2938;
}
#btnUpdateUser:hover,#editProfile:hover,#btnUpdateProd:hover,#dropManagement:hover{
  font-size: 1.1em;
  border: 1px solid #d63447;
  background-color: #d63447;
}
/* NOTE: btnAddToCart loaded_product_preview */
#addToCart{
  color: white;
  border: 1px solid black;
}
#addToCart:hover{
  font-size: 1.1em;
  background-color: black;
}
/* NOTE: btnAddToCart loaded_product_preview */
#btnConfrimPurchase{
  border: 1px solid black;
  background-color: black;
  color: white;
}
#btnConfrimPurchase:hover{
  font-size: 1.1em;
  border: 1px solid white;
  background-color: black;
  color:white;
}
/* NOTE: Style Cart */
#cart thead tr th{
  font-size: 1.3em;
}
#cart {
  background: white;
  opacity: 0.9;
}
#cart thead tr th{
border-bottom: 2px solid #000000;
}
#cart tr:hover {
  font-weight: bolder;
  color: black;
  background-color: #84a9ac;
}
/* NOTE: contactUs */
.container-fluid .row #contact_info {
  color: white;
  font-size: 20px;
}
.container-fluid .row #contact_info p a{
  color: white;
  font-size: 20px;
}
/* NOTE: Style accesoriesCare */
.container-fluid #care p {
  font-size: 20px;
}
